body{
    height: 100vh;
    background-color: #f8f9fa;
}
.home{
    background-image: url('images2/intro-bg.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: white !important;
}
.navbar-dark{
    background-color: rgba(0, 0, 0, 0.5); /* عشان يبان لما ينزل تحت */
    position: fixed; /* البوزيشن لازم معاه كوءورديناتس*/
    left:0;
    right: 0;
    top:0;
    z-index: 999; /* لما يكون عندي كذا لير و عاوزه ارتبهم*/
}
.logo{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.hometext{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.layercontent{
     color: white;
     text-align: center;

}
h1{
    font-size: 4.5rem;

}
.typing{
    font-size: 3rem;

}
.typing::after{
    content: "";
    animation-name: typingSkill;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes typingSkill{

    0%{ content: "|"; }

    2% { content: "D|"; }
    4% { content: "De|"; }
    6% { content: "Dev|"; }
    8% { content: "Deve|"; }
    10% { content: "Develo|"; }
    12% { content: "Develop|"; }
    14% { content: "Develope|"; }
    16% { content: "Developer|"; }
    18% { content: "Develope|"; }
    20% { content: "Develop|"; }
    22% { content: "Develo|"; }
    24% { content: "Devel|"; }
    26% { content: "Deve|"; }
    28% { content: "Dev|"; }
    30% { content: "De|"; }
    32% { content: "D|"; }
    34% { content: "|"; }

    36% { content: "D|"; }
    38% { content: "De|"; }
    40% { content: "Des|"; }
    42% { content: "Desi|"; }
    44% { content: "Desin|"; }
    46% { content: "Desing|"; }
    48% { content: "Desinge|"; }
    50% { content: "Desinger|"; }
    52% { content: "Desinge|"; }
    55% { content: "Desing|"; }
    60% { content: "Desin|"; }
    65% { content: "Desi|"; }
    70% { content: "Des|"; }
    75% { content: "De|"; }
    80% { content: "D|"; }
    100% { content: "|"; }
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*Setion 2 About */
.about-color{
    background-color: white;
}
.npep{
    font-size: 18px;
}
.about-info{
    font-size: 1.25rem;
    font-weight: 300;
}
.About-me{
    font-size: 2rem;
}
.About-me::after{
    content: "";
    position:absolute;
    height: 3px;
    background-color: #0d6efd;
    width: 100px;
    left: 0;
    bottom: 0px;
}
/*-------------------------------------------------------------------------------------------*/
/*Section 3 services*/
.title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.parg{
    color: #4e4e4e;
}
.line{
  
    height: 5px;
    background-color: #0d6efd;
    width: 40px;
    
}
.card{
   border-radius: 1rem;
}
.border-5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #007aff !important;
}
.icon-hover:hover{
    background-color: #017cff;
    border-color: #a6d0fd !important;
}
/*-------------------------------------------------------------------------------------------*/
/*Section 4 image*/
.background4{
    background-image: url('images2/counters-bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 65vh;
}
.sectio4-layer{
    background-color: rgba(0, 120, 255, 0.6);
    height: 65vh;

}
.icons{
    color: honeydew;
   
}

 .icon-border2{
    height: 60px;
    width: 60px;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    border-radius: 50%;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;

 }
 .numbers
 {
    font-size: 2rem;
    margin-bottom: 0;
 }
 /*---------------------------------------------------------*/
 /*Section 5*/
 .card2
 {
     border: 0px;
 }
 .card-img{
     overflow: hidden;
}
 
 .card-text{
    color: #4e4e4e;
    font-size: 0.8rem;
 }
  .card-title{
    font-size: 1.2rem;
  }
  .span-web{
      color: #0078ff;
  }
  .img-zoomin{
    width: 100%;       
    transition: all 1s ease-in-out;
   }
   
.img-zoomin:hover{
    transform: scale(1.4);
}
/*------------------------------------------------------------------*/
/*Section 6 images carousal*/
.carouselPart{
    background-image: url('images2/overlay-bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 65vh;
}
.carousleLayer{
    background-color: rgba(0, 120, 255, 0.6);
    height: 65vh;
}
.carousel-indicators{
    top: 100%;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.profile-img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
}
/*------------------------------------------------------------------*/
/*Section 7 Blog*/
.rounded-circle{
    width: 32px;
    height: 32px;
}

.card-footer{
    
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
/*------------------------------------------------------------------*/
/*Section 8 contact Us*/
.contact-us{
    background-color: white;
    
}

.btn{
  background-color: #0078ff;
  color: #f8f9fa;
  border-radius: 20px;
}
.background{
    background-image: url('images2/overlay-bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.sectio8-layer{
    background-color: rgba(0, 120, 255, 0.6);
    

}